<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".JbForumApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.JbForum">
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.JbForum" />
        <activity
            android:name=".LocalFavoritesActivity"
            android:exported="false"
            android:theme="@style/Theme.JbForum" />
        <activity
            android:name=".UserCenterActivity"
            android:exported="false"
            android:theme="@style/Theme.JbForum" />
        <activity
            android:name=".ThreadDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.JbForum" />
        <activity
            android:name=".ThreadWebViewActivity"
            android:exported="false"
            android:theme="@style/Theme.JbForum"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ForumNoticeActivity"
            android:exported="false"
            android:theme="@style/Theme.JbForum" />
        <activity
            android:name=".ThreadsActivity"
            android:exported="false"
            android:theme="@style/Theme.JbForum" />
        <activity
            android:name=".ImagePreviewActivity"
            android:exported="false"
            android:theme="@style/Theme.JbForum.ImagePreview" />
        <activity
            android:name=".ShareImportActivity"
            android:exported="true"
            android:theme="@style/Theme.JbForum.ShareImport">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShortcutEntryActivity"
            android:exported="true"
            android:theme="@style/Theme.JbForum.ShareImport" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.JbForum.Starting">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
